# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Env files (SECRET KEYS)
.env
backend/.env
frontend/.env
backend/db.json
backend/.qbo_tokens.json

# logs
*.log

# OS
.DS_Store
Thumbs.db

# Local recovery folder (do not commit)
.git_old/
.git-work/
.git_blocked/

